@font-face {
  font-family: 'NisseRegular';
  src: local('NisseRegular'), url('./fonts/NisseRegular/NisseRegular/NisseRegular.otf') format('opentype');
}

body {
  background: black;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./assets/Layout\ BG.png);
  background-repeat:no-repeat;
  background-position: center;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000,
 -1px -1px 0 #000;
  color: white;
}

.Portrait {
  position: absolute;
  left: 18em;
  top: 10em;
}

.buttonWrapper {
  position: absolute;
  left: 16.3em;
  bottom: 0;
}

.Name {
  font-family: NisseRegular;
  position: absolute;
  left: 24em;
  top: 5.5em;
  font-size: 35px;
}

.Wishes {
  font-family: NisseRegular;
  position: absolute;
  left: 33.6em;
  top: 13em;
  font-size: 25px;
  width:27em;
}